<div id="analytics" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<form>
  <!--<input type="hidden" name="analytics" value="all">
  <button class="btn btn-default" type="submit">View past deals</button>
  <input type="submit" name="sb" value="View Past Deals too">
  <input type="submit" name="sb" value="View Active Deals only">-->
  <button name="scope" value="all" type="submit">View past deals too</button>
  <button name="scope" value="active" type="submit">View active deals only</button>
</form>

<footer>
  <script src="http://code.highcharts.com/highcharts.js"></script>

  <!--Sand-Signika theme for Highcharts JS-->
  <script>
      // Load the fonts
      Highcharts.createElement('link', {
          href: '//fonts.googleapis.com/css?family=Signika:400,700',
          rel: 'stylesheet',
          type: 'text/css'
      }, null, document.getElementsByTagName('head')[0]);

      // Add the background image to the container
      Highcharts.wrap(Highcharts.Chart.prototype, 'getContainer', function (proceed) {
          proceed.call(this);
          this.container.style.background = 'url(http://www.highcharts.com/samples/graphics/sand.png)';
      });


      Highcharts.theme = {
          colors: ["#f45b5b", "#8085e9", "#8d4654", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
              "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
          chart: {
              backgroundColor: null,
              style: {
                  fontFamily: "Signika, serif"
              }
          },
          title: {
              style: {
                  color: 'black',
                  fontSize: '16px',
                  fontWeight: 'bold'
              }
          },
          subtitle: {
              style: {
                  color: 'black'
              }
          },
          tooltip: {
              borderWidth: 0
          },
          legend: {
              itemStyle: {
                  fontWeight: 'bold',
                  fontSize: '13px'
              }
          },
          xAxis: {
              labels: {
                  style: {
                      color: '#6e6e70'
                  }
              }
          },
          yAxis: {
              labels: {
                  style: {
                      color: '#6e6e70'
                  }
              }
          },
          plotOptions: {
              series: {
                  shadow: true
              },
              candlestick: {
                  lineColor: '#404048'
              },
              map: {
                  shadow: false
              }
          },

          // Highstock specific
          navigator: {
              xAxis: {
                  gridLineColor: '#D0D0D8'
              }
          },
          rangeSelector: {
              buttonTheme: {
                  fill: 'white',
                  stroke: '#C0C0C8',
                  'stroke-width': 1,
                  states: {
                      select: {
                          fill: '#D0D0D8'
                      }
                  }
              }
          },
          scrollbar: {
              trackBorderColor: '#C0C0C8'
          },

          // General
          background2: '#E0E0E8'

      };

      // Apply the theme
      Highcharts.setOptions(Highcharts.theme);
  </script>

  <script>
      $(function () {
          $('#analytics').highcharts({
              credits: {
                  enabled: false
              },
              title: {
                  text: 'Analytics of all Active Deals'
              },
              subtitle: {
                  text: 'View Count and Redemption Count'
              },
              yAxis: {
                  allowDecimals: false,
                  min: 0,
                  title: {
                      text: 'Number of Users'
                  }
              },
              xAxis: {
                  categories: <%= raw @active_deal_names.as_json %>
              },
              labels: {
                  items: [{
                      style: {
                          left: '50px',
                          top: '18px',
                          color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                      }
                  }]
              },
              series: [{
                  type: 'column',
                  name: 'View Count',
                  data: <%= @view_counts %>
              }, {
                  type: 'column',
                  name: 'Redemption Count',
                  data: <%= @redemption_counts %>
              }]
          });
      });
  </script>
</footer>