<div id="deal_type" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<footer>
  <!--Pie Chart-->
  <script>
      $(function () {
          $('#deal_type').highcharts({
              credits: {
                  enabled: false
              },
              chart: {
                  type: 'pie'
              },
              title: {
                  text: 'Popularity of Deal Types'
              },
              subtitle: {
                  text: 'Redemption Count'
              },
              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> of total<br/>',
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name} {point.y} redemptions'
                      }
                  }
              },
              series: [{
                  name: "Deal Type",
                  colorByPoint: true,
                  data: [{
                      name: "Discount",
                      y: <%= @redemption_discount %>,
                      drilldown: null
                  }, {
                      name: "Freebies",
                      y: <%= @redemption_freebies %>,
                      drilldown: null
                  }]
              }],
              /*drilldown: {
                  series: [{
                      name: "Addons",
                      id: "Addons",
                      data: [
                          ["Push Notification", <%# addon1 %>],
                          ["Deal Statistics", <%# addon2 %>],
                          ["Aggregate Trends", <%# addon3 %>]
                      ]
                  }]
              }*/
          });
      });
  </script>
</footer>