<div class="well col-lg-6 col-lg-offset-3" style="text-align: center; font-weight: bold">
  <p>Sorry, you do not have any redeemable deals. This prevents us from displaying Popularity of Deal by Deal Type chart.
    In order to solve this issue you can list a redeemable deal <%= link_to 'here', new_deal_path %>. Do remember to enable the redeemable option to
    allow data to be gathered.</p>
</div>
