<p>
  <strong>Title: </strong><br>
  <%= @feedback.title %>
</p>

<p>
  <strong>Category: </strong><br>
  <%= @feedback.category %>
</p>

<p>
  <strong>Description: </strong><br>
  <%= @feedback.content %>
</p>

<p>
  <strong>Date and Time Submitted: </strong><br>
  <%= @feedback.created_at.to_formatted_s(:long) %>
</p>