<div class="content-form">
  <%= form_for :payment, url: payments_path do |f| %>

      <h4>Total Price:
      <br>
      Junwen's button</h4>


      <p class="clearfix">
        <%= f.submit "Proceed to Checkout", :class => 'btn btn-big btn-success' %>
      </p>
  <% end %>
</div><!-- content-form -->