<p>
  Plan subscribed:
  <% if (@payment.plan1)  %>
      <span class="label label-default">Deal Listing Service</span>
  <% end %>
</p>

<p>
  Add Ons:

  <% if !(@payment.add_on1) && !(@payment.add_on2) && !(@payment.add_on3)%>
      <span class="label label-inverse">None</span>

  <% else %>
      <% if (@payment.add_on1) %>
          <span class="label label-info">Push Notification</span>
      <% end %>
      <% if (@payment.add_on2) %>
          <span class="label label-success">Deal Statistics</span>
      <% end %>
      <% if (@payment.add_on3) %>
          <span class="label label-warning">Aggregate Trends</span>
      <% end %>
  <% end %>
</p>

<p>
  Start Date:
  <strong><%= @payment.start_date %></strong>
</p>

<p>
  Expiry Date:
  <strong><%= @payment.expiry_date %></strong>
</p>

<h3>
  Total Price:
  <strong><%= number_to_currency @payment.total_cost %></strong>
</h3>
