<%= form_for @payment, url: payments_path do |f| %>
    <!-- choose start date -->
    <p class="form-select clearfix">
      <%= f.label :start_date, "Start Date:" %>
      <span>
                <%= f.text_field :start_date%>
          </span>
    </p>

    <p class="clearfix">
      <%= f.submit "Confirm extension start date", :class => 'btn btn-big btn-success' %>
<% end %>