<table class="table table-bordered table-hover table-responsive">
  <tr>
    Payment History
    <th>Payment Date</th>
    <th>Amount</th>
    <th>Payment Items</th>

    <th colspan="3"></th>
  </tr>


</table>