<div class="well col-lg-6 col-lg-offset-3" style="text-align: center; font-weight: bold">
  <p>Sorry, you either do not have any active deals or active deals that are redeemable. This prevents us from displaying your active deals ranking.
  In order to solve this issue you can list a redeemable deal <%= link_to 'here', new_deal_path %>.
  Do remember to enable the redeemable option to allow data to be gathered as well as activate the deal afterwards.</p>
</div>
