<h3 style="padding-bottom: 20px" xmlns:color="http://www.w3.org/1999/xhtml">Popular Deals</h3>
<div class="panel panel-primary">
  <div class="panel-heading panel-heading-custom">
    <h4>Top Active Deals this Week!</h4>
  </div>
  <div class="panel-body">
    <strong>By Redemption Count</strong>

    <p id="hint">*Own deals will be highlighted</p>
    <table class="table table-bordered table-hover table-responsive">
      <tr>
        <th>Rank</th>
        <th>Title</th>
        <th>Type of Deal</th>
        <th>Description</th>
      </tr>

      <% own_deals = Array.new %>
      <% @own_deals.each do |od| %>
          <% own_deals << od[1] %>
      <% end %>
      <% rank = 1 %>
      <% ranking = 0 %>
      <% @top_deals.each do |td| %>
          <% deal = Deal.find(td[0]) %>
          <% if rank == own_deals[ranking] %>
              <tr id="own">
                <% ranking = ranking + 1 %>
          <% else %>
              <tr>
          <% end %>
          <td>
            <p id="rank">
              <%= rank %>
            </p>
          </td>
          <td>
            <%= deal.title %>
          </td>
          <td>
            <%= deal.type_of_deal %>
          </td>
          <td><%= deal.description %></td>
          </tr>
          <% rank = rank + 1 %>
      <% end %>
    </table>
  </div>
</div>

<style>
    tr#own {
        background-color: #f1f1c1;
    }

    p#hint {
        font-style: italic
    }

    .panel-primary > .panel-heading-custom {
        background: #ea1f6c;
        color: #fff;
        border-color: #ea1f6c;
    }

    .panel-primary {
        border-color: #ea1f6c;
    }

    p#rank {
        font-weight: bold;
        font-size: 120%;
        display: inline;
    }
</style>
