<%= form_for @venue,:html => {:multipart => true} do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h5><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h5>
      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
