<p> Dear Valued Merchant!</p><br/>

<p>Thank you for your feedback to Burpple! We have received your feedback and will be contacting you soon to follow up on your <%= @feedback.category.downcase %>.</p>
<p>Your feedback ticket is: <strong><%= @feedback.id %></strong></p>
<p>You can view a record your feedbacks in this link: <%= @url %> </p>


<p>Thank you for using Burpple. Have a nice day!</p><br/>

<p>Best regards,</p>
<p>Burpple</p>