<p> Dear Valued Merchant!</p><br/>

<p>Your deal, <b><%= @deal.title %></b>, has been deleted from Burpple. <br/>If you have any concerns, please contact our merchant support team. Thank you!</p>

<p>Thank you for using Burpple. Have a nice day!</p>

<p>Best regards,</p>
<p>Burpple</p>