<div style="padding-bottom: 50px">
  <h2 style="padding-bottom: 50px">Deal Analytics for Burpple</h2>
  <div id="deal_traffic" style="padding-bottom: 10px"></div>

</div>


<footer>
  <style>
      .col-lg-6 {
          position: relative;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          float: left;
          width: 50%;
          box-sizing: border-box;
      }
  </style>
  <script src="//code.highcharts.com/highcharts.js"></script>
  <script src="//code.highcharts.com/modules/data.js"></script>
  <script src="//code.highcharts.com/modules/exporting.js"></script>
  <script src="//code.highcharts.com/modules/drilldown.js"></script>


  <!-- Deal Traffic -->
  <script>
      $(function () {
          $('#deal_traffic').highcharts({
              credits: {
                  enabled: false
              },
              chart: {
                  zoomType: 'x'
              },
              title: {
                  text: 'Traffic from Deals'
              },
              subtitle: {
                  text: '<span style="color: #7CB5EC">App Traffic measured by view counts of deals</span><br><span style="color: #434348">Foot Traffic measured by redemptions of deals</span>'

              },
              xAxis: {
                  type: 'datetime'
              },
              yAxis: {
                  title: {
                      text: 'Number of Users'
                  }
              },
              legend: {
                  enabled: true
              },
              plotOptions: {
                  area: {
                      marker: {
                          radius: 2
                      },
                      lineWidth: 1,
                      states: {
                          hover: {
                              lineWidth: 1
                          }
                      }
                  }
              },

              series: [{
                  type: 'column',
                  name: 'App Traffic',
                  data: <%= @view_counts %>
              }, {
                  type: 'column',
                  name: 'Foot Traffic',
                  data: <%= @redemption_counts %>
              }]
          });
      });
  </script>
</footer>